<script>
    let input = "Some text", output, output2;

    function spoilerify(string) {
        let spoilerified = "";
        string.split("").forEach(character => {
            spoilerified += "||"+character+"||";
        });

        return spoilerified;
    }
        
    function emojify(string) {
        let emojified = "";
        string.split("").forEach(character => {
            const alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
            
            if (alphabet.includes(character.toLowerCase())) {
                emojified += ":regional_indicator_" + character.toLowerCase() + ":"
            } else {
                emojified += character;
            }

            emojified += " "; // This prevents discord from merging them into flags
        });

        return emojified;
    }

    $: output = emojify(input);
    $: output2 = spoilerify(input);
</script>

<main class="container">
    <img src="crab.png" class="center padding-16" alt="kraab!" />
    <div class="row">
        <div class="half container">
            <textarea bind:value={input} rows="20" />
        </div>
        <div class="quarter container">
            <textarea rows="20">{output}</textarea>
        </div>
        <div class="quarter container">
            <textarea rows="20">{output2}</textarea>
        </div>
    </div>

    <div class="container">
        <p class="text-gray">Source code avaliable on <a href="https://gitlab.com/Aceius/krabligraphy-svelte" target="_blank" rel="noopener noreferrer">GitLab</a>.</p>
    </div>
</main>

<style>
    textarea {
        width: 100%;
    }
</style>
